<div class="ffg-roll-window">

    <div class="ffg-title">
        <h2>FFG Dice Roller</h2>
    </div>
    <div class="ffg-dice-pos">
        <dl class="ffg-die-selector">
            <dt><img src="modules/ffg-roller/images/Ability_Blank.png" width="36" height="36"/></dt>
            <dd><input type="number" name="abil" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
            <dt><img src="modules/ffg-roller/images/Proficiency_Blank.png" width="36" height="36"/></dt>
            <dd><input type="number" name="prof" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
            <dt><img src="modules/ffg-roller/images/Boost_Blank.png" width="36" height="36"/></dt>
            <dd><input type="number" name="boost" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            <hr>
            <dt><h3>Upgrade Positive</h3></dt>
            <dd><input type="number" name="upgradeP" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
            <dt><h3>Downgrade Positive</h3></dt>
            <dd><input type="number" name="downgradeP" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
        </dl>
    </div> 

    <div class="ffg-dice-neg">
        <dl class="ffg-die-selector">
            <dt><img src="modules/ffg-roller/images/Difficulty_Blank.png" width="36" height="36"/></dt>
            <dd><input type="number" name="diff" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
            <dt><img src="modules/ffg-roller/images/Challenge_Blank.png" width="36" height="36"/></dt>
            <dd><input type="number" name="chal" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
            <dt><img src="modules/ffg-roller/images/Setback_Blank.png" width="36" height="36"/></dt>
            <dd><input type="number" name="setback" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            <hr>
            <dt><h3>Upgrade Negative</h3></dt>
            <dd><input type="number" name="upgradeN" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
            
            <dt><h3>Downgrade Negative</h3></dt>
            <dd><input type="number" name="downgradeN" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
        </dl>
    </div>

    <div class="ffg-dice-force">
        <dt><img src="modules/ffg-roller/images/Force_Blank.png" width="36" height="36"/></dt>
        <dd><input type="number" name="force" value="0" class="ffg-die-input" data-dtype="Number"/></dd>
    </div>
    <hr>
    <div class="ffg-button-container">
        <button type="button" name="roll">Roll</button>
    </div>

</div>