.ffg-die-input {
    width: 40px;
 }
.ffg-dice-pos, .ffg-dice-neg, .ffg-dice-force {
    border: 2px solid #bbb;
    border-radius: 5px;
    margin-top: 5px;
    padding:2px;
}

.ffg-title {
    text-align:center;
}